<!-- ====== Cards Section Start -->
<section class="bg-[#F3F4F6] ">

  <div class="-mx-4 flex flex-col h-full w-full">
    <?php  foreach ($cart as $key => $value) {  ?>

    <div class="w-full flex flex-row  justify-between px-4">
      <div class="mb-10 overflow-hidden w-full rounded-lg bg-white">
        <div class="p-8 flex flex-row  w-full  justify-between sm:p-9 md:p-7 xl:p-9">
          <img src="<?php echo 
          $this->image($value['primg'],'prod');?>" alt="image"
            class=" <?= $value['primg'] == 'userimg'?'w-22 h-10':'w-16 h-10'?>" />
          <h3>
            <a href="javascript:void(0)" id="tot"
              class="mb-4 block text-xl font-semibold text-dark hover:text-primary sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
              <?= $value['ctotal'];?>
            </a>
            <span class=""><a href="javascript:void(0)" 
              class="flex flex-row mb-4  text-xl font-semibold text-dark hover:text-primary sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
              $ <span id="totp"><?= $value['pprice']* $value['ctotal'];?></span>
            </a></span>

          </h3>
          <h3 class="  w-8 h-8 ">
            <a href="/remove_cart?p_id=<?= $value['p_id'];?>&u_id=<?= $_SESSION['id'];?>
            "
              class="mb-4 block text-xl font-semibold text-dark hover:text-primary sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">
              <img src="/assets/tr.png" alt="">
            </a>

          </h3>


          <!-- <p class="mb-7 text-base leading-relaxed text-body-color">
              elit. Lorem consectetur adipiscing elit.
            </p>
<a href="javascript:void(0)"
  class="inline-block rounded-full border border-[#E5E7EB] py-2 px-7 text-base font-medium text-body-color transition hover:border-primary hover:bg-primary hover:text-white">
  View Details
</a>-->
        </div>
      </div>
    </div>

    <?php }?>
  </div>
</section>
<div class="order pl-6 mb-6">
  <div class="total">

  </div>
  <div class="order_cart mt-8"><a class="p-3 bg-blue-800 text-white mt-2 -py-5" href="order?u_id=<?=$_SESSION['id']?>">Order Now</a></div>
</div>
<script differ>
  let tarr = [];
  let sum = 0
  let tarray = document.querySelectorAll('#totp').forEach(el => console.log(Number(tarr.push(el.innerHTML.trim()))))
  tarr.map(el => sum += parseInt(el));
  // console.log(tarr);
  // console.log(sum);
  setInterval(() => {
    document.querySelector('.total').innerHTML = 'TOTAL:' + '$' + sum 

  }, 5)</script>
<!-- ====== Cards Section End -->